@charset "utf-8";

.charterror{padding:50px 0;color:#909090;font-size:14px;-moz-user-select:none;-webkit-user-select:none;user-select:none;}
/*线图*/
.chartlin{position:relative;width:610px;-moz-user-select:none;-webkit-user-select:none;user-select:none;cursor:default;}
.chartlin svg,.chartlin vml{display:block;}
/*饼图*/
.chartpie{position:relative;width:610px;overflow:hidden;-moz-user-select:none;-webkit-user-select:none;user-select:none;cursor:default;}
.chartpie *{padding:0;margin:0;font:12px/20px arial, helvetica, verdana, tahoma, sans-serif;word-break:break-all;word-wrap:break-word}
.chartpie ol,.chartpie ul,.chartpie dl{list-style:none;}
.chartpie h3{font-size:14px;font-weight:bold;}
.chartpie svg,.chartpie vml{display:block;}
.chartpie_inner{width:680px;overflow:hidden;padding-top:5px;}
.chartpie .caption{height:30px;text-align:center;overflow:hidden;margin-bottom:10px;}
.chartpie .caption *{font-size:12px;line-height:30px;}
.chartpie .caption .c0{float:left;width:110px;height:30px;padding:0 10px;*display:inline;*zoom:1;}
.chartpie .caption .c1{float:left;width:110px;height:30px;padding:0 10px;}
.chartpie .caption .c2{float:left;width:110px;height:30px;padding:0 10px;}
.chartpie .set{position:relative;height:160px;border-bottom:1px solid #e5e5e5;padding:0 10px;margin-bottom:-1px;overflow:hidden;}
.chartpie .set .c0{float:left;width:130px;height:130px;padding-top:15px;padding-bottom:15px;}
.chartpie .set .c1{float:left;width:130px;height:130px;padding-top:15px;padding-bottom:15px;}
.chartpie .set .c2{float:left;width:130px;height:130px;padding-top:15px;padding-bottom:15px;}
.chartpie .set h3{margin-bottom:10px;color:#333;}
.chartpie .set .handle{float:left;width:90px;height:130px;overflow:hidden;padding-top:15px;padding-bottom:15px;}
.chartpie .set_even .handle{position:absolute;left:200px;}
.chartpie .set .handle li{position:relative;padding-left:19px;cursor:pointer;height:20px;line-height:20px;margin-bottom:2px;overflow:hidden;color:#666;} 
.chartpie .set .handle li *{cursor:pointer;} 
.chartpie .set .handle span{position:absolute;top:0;left:0;display:block;width:14px;height:20px;overflow:hidden;}
.chartpie .set .handle label{line-height:20px;}
.chartpie .set .handle li:hover{background:#eee;}
.chartpie .set .handle li.current,
.chartpie .set .handle li.current:hover{background:#666;}
.chartpie .set .handle li.current label{color:#fff;font-weight:bold;}
.chartpie .set .null{color:#909090;text-align:center;line-height:130px;}
.chartpie .sexlabels{position:relative;width:130px;margin:0 auto;top:-10px;*top:-10px;height:20px;line-height:20px;}
.chartpie .sexlabels li{float:left;width:60px;font-weight:bold;font-size:14px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif}
.chartpie .sexlabels .la1{padding-right:5px;text-align:right;}
.chartpie .sexlabels .la2{padding-left:5px;text-align:left;}
.chartpie .og{position:relative;top:0;left:0;width:160px;height:130px;}
.chartpie .og .oa{*zoom:1;display:none;position:absolute;top:50%;left:50%;margin-left:-20px;margin-top:-20px;width:40px;height:40px;overflow:hidden;text-align:center;color:#909090;cursor:pointer;}
.chartpie_group1 .caption .c0{width:610px;padding:0;}
.chartpie_group1 .set{float:left;width:305px;}
.chartpie_group1 .set .c0{border-right:1px solid #e5e5e5;padding-left:25px;padding-right:50px;}
.chartpie_group1 .set_even .c0{border:none;}
.chartpie_group2 .caption .c0{margin-left:100px;width:230px;}
.chartpie_group2 .caption .c1{width:230px;}
.chartpie_group2 .set .c0{padding-left:60px;padding-right:60px;}
.chartpie_group2 .set .c1{padding-left:60px;padding-right:60px;}
.chartpie_group3 .caption .c0{margin-left:100px;width:150px;}
.chartpie_group3 .caption .c1{width:150px;}
.chartpie_group3 .caption .c2{width:150px;}
.chartpie_group3 .set .c0{padding-left:20px;padding-right:20px;}
.chartpie_group3 .set .c1{padding-left:20px;padding-right:20px;}
.chartpie_group3 .set .c2{padding-left:20px;padding-right:20px;}
/*地图*/
.chartmap{position:relative;width:610px;height:320px;overflow:hidden;-moz-user-select:none;-webkit-user-select:none;user-select:none;cursor:default;}
.chartmap div,.chartmap ul{padding:0;margin:0;font:12px/20px arial, helvetica, verdana, tahoma, sans-serif;word-break:break-all;word-wrap:break-word}
.chartmap ul{list-style:none;}
.chartmap svg,.chartmap vml{display:block;}
.chartmap .loading{padding:100px;text-align:center;}
.chartmap .mapi{z-index:1;position:absolute;top:30px;left:360px;width:16px;}
.chartmap .mapi label{display:block;text-align:center;}
.chartmap .mapi li{height:16px;overflow:hidden;margin-bottom:2px;}
.chartmap .mapg{z-index:2;position:absolute;top:30px;left:0;}
.chartmap .area{position:absolute;left:410px;top:10px;width:200px;}
.chartmap .area .choice{height:16px;overflow:hidden;margin-bottom:10px;line-height:16px;}
.chartmap .area .choice *{line-height:16px;}
.chartmap .area .choice li{float:left;margin-left:-2px;width:45px;border-left:1px solid #e5e5e5; text-align:center;}
.chartmap .area .choice span{cursor:pointer;color:#014ccc;}
.chartmap .area .choice .current{font-weight:bold;}
.chartmap .area .choice .current span{cursor:default;color:#000;}
.chartmap .area .queue{width:200px;}
.chartmap .area .queue li{height: inherit;padding:5px;overflow:hidden;*margin-bottom:-3px;} 
.chartmap .area .queue li.odd{background:#f3f3f3;padding:3px 5px;}
.chartmap .area .queue li span{line-height:20px;vertical-align:middle;}
.chartmap .area .queue li .statsn{display:block;overflow:hidden;height:20px;float:left;width:18px;}
.chartmap .area .queue li .statname{display:block;overflow:hidden;height:20px;float:left;width:72px;}
.chartmap .area .queue li .statbar{display:block;overflow:hidden;height:20px;float:left;width:100px;}
.chartmap .area .queue li .statbar .bar{display:block;width:0;background:#9bcff8;height:8px;overflow:hidden;margin-top:6px;}